<!--The content below is only a placeholder and can be replaced.-->
  <h1>
    Welcome to {{ title }}
  </h1>

  <div class="container">
    <div class="row">
      <div class="form-bg">
        <form #regForm='ngForm' (ngSubmit)="Register(regForm)">
          <h2 class="text-center">Registration Page</h2>
          <br>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="First Name" name="firstname" required ngModel>
          </div><br>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Last Name" name="lastname" required ngModel>
          </div><br>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Email Id" name="email" email required ngModel #email="ngModel">
            <span class="help-bpx" *ngIf="email.touched && !email.valid">Please enter email value</span>
          </div><br>
          <br>
          <div class="align-center">
            <button type="submit" class="btn btn-primary" id="Register" [disabled]="!regForm.valid">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>
